body{
background-color: rgb(9, 58, 65);
color: azure;
font-size: x-large;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

flex-direction: row | row-reverse | column | column-reverse;
}
.titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
meunome{
  margin: 0.05px;
  
}
