body{
background-color: rgb(136, 100, 138);
color: rgb(0, 0, 0);
font-size: larger;
font-family: 'Times New Roman', Times, serif;
flex-direction: row | row-reverse | column | column-reverse;
}
.titulo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  
}
meunome{
  margin: 0.05px;
}
  .logo{
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: xx-large;
}

.logoinsta{
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
  font-size: xx-large;
}
}
